<!DOCTYPE html>
<html>
  <head>
    <title>Redeem Cards</title>
  </head>
  <body>
        <form action="/redeem_cards" method="post">
            <input name="number" placeholder="Card Number">
            <input name="email" placeholder="Email">
            <input type="submit" value="Redeem">
        </form>
        {% for post in posts %}
            <div> {{ post }}</div>
        {% endfor %}
        <p>
            <button type="button" onclick="window.location.href='/'">Homepage</button>
        </p>
  </body>