<!DOCTYPE html>
<html>
  <h1>The Cork
    <title>The Cork</title>
  </h1>
  <body>
    
      <form action="/" method="post">
          <input name="name" placeholder="Username">
          <input name="post" placeholder="Post Content">
          <input type="submit" value="Submit">
      </form>
        <button type="button" onclick="window.location.href='/register'">Register</button>
        <button type="button" onclick="window.location.href='/login'">Login</button>
        <button type="button" onclick="window.location.href='/gift_cards'">Create Gift Cards</button>
        <button type="button" onclick="window.location.href='/redeem_cards'">Redeem Gift Cards</button>
        <button type="button" onclick="window.location.href='/logout'">Logout</button>
      </p>
  </body>